@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}



body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------*/


/*------------*/


/*Elementos del fondo*/

.background{
    z-index:-1;
}

.green-music-background1, .green-music-background2, .green-music-background3,.pink-music-background1, .pink-music-background2, .pink-music-background3{
    position: absolute;
    width: 100px;
    

}


.green-music-background1{
    left: 20px;
}

.green-music-background2{
    left: 15%;
    bottom: 10%;
}


.green-music-background3{
    right: 10%;

}

.pink-music-background1{
    left:25%;

}

.pink-music-background2{
    right: 55%;
    top:10%;
}

.pink-music-background3{
    bottom: 15%;
    right: 10%;
}



/*Navbar*/

nav{
    position: fixed;
    z-index: 2;
    top:0;
    width: 100%;
    height: 100px;
    background: rgba(178, 255, 229, 0.732);
}

.navbar{
    position: relative;
    display: flex;
    height: 100px;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display:flex;
}
h2{
    font-size: 1rem;
    line-height: 100px;
    color: #00BFA6;
}

.question{
    width: 120px;
   
}

/*How to play */

.howto{
    font-size: 0.9rem;
    color: #00BFA6;
    cursor: pointer;
}

.toggle-box p{
    font-size: 0.9rem;
    color: #00BFA6;
    font-weight: bold;
}

.howto-instructions{
    position:absolute;
    right:-270px;
    top:0;
    z-index:2;
    margin-top:100px;
    padding: 5px;
    transform: translateX(0);
    width: 260px;
    height:250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(178, 255, 229, 0.732);
   transition:0.5s;
   
    
}




.howto-instructions ul li {
    list-style: inside;
    color:rgb(4, 4, 9) ;
    font-weight: bold;
    font-size: 0.7rem;
}




/*Form*/


#form{
    margin-top: 80px;
    background-color: rgb(178, 255, 229);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.music{
   width: 100px;
}

.title{
    font-weight: bold;
}


#input:focus{
    outline:none;
}
#input, .add, .random, .new-game{
    width: 60%;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
}

.add, .random, .new-game{
    background-color: rgb(238, 60, 93);
    cursor: pointer;
}

.title, #input,.add,.random, .new-game{
    color: rgb(4, 4, 9);
}

#form #input, #form .title,#form .add, #form .random, #form .new-game{
    margin:10px;
}

.add:hover, .random:hover, .new-game:hover{
    background-color: rgb(230, 25, 63);
    transition: .5s;
}

.empty-list{
    color:#201e1e;
    display: none;
    font-size: 0.7rem;
}



@media (max-width: 830px){

    /*Body layer*/
    .display-body::after{
        content:"";
        width:100%;
        height:100%;
        position:absolute;
        left: 0;
        top:0;
        z-index: 1;
        background-color: #00000061;
        transition: 0.5s;
    }
    /*------*/
    #form{
        width: 60%;
    }

    h2{
        font-size: 0.9rem;
    }
    .howto{
        font-size: 0.75rem;
    }
    .question{
        width: 100px;
    }

    


}

@media (max-width: 610px){

       h2{
        display: none;
       }

       .green-music-background1, .green-music-background2, .green-music-background3,.pink-music-background1, .pink-music-background2, .pink-music-background3{
        width: 80px;
       }
       .pink-music-background2{
        right: 40%;
    }
    
}

@media (max-width: 467px){

   
    #form{
        width: 80%;
    }
    
}

@media (max-width: 375px){

    #form{
        width: 90%;
    }
    
}